@model Category
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Category", FormMethod.Post))
{
    @Html.HiddenFor(model => model.CategoryID)
 
    <table>
        <tr>
            <td>Kategori Adı</td>
            <td>: </td>
            <td>
                @Html.TextBoxFor(model => model.CategoryName)
            </td>
        </tr>
       
        @*<tr>
                <td>Silindimi</td>
                <td>: </td>
                <td>
                    @Html.CheckBoxFor(model => model.isDeleted)
                </td>
            </tr>*@
        <tr>
            <td colspan="3">
                <button>Güncelle</button>
            </td>
        </tr>
    </table>
}

@if (TempData["Message"] != null)
{
    <div style="background-color: #2882a9; color: white; padding: 7px 15px; margin-top:15px;">
        @TempData["Message"]
    </div>
}


